body {
	font-family: 'Inter', sans-serif; 
	letter-spacing:-0.5px; 
	margin: 0px; 
	padding: 0px; 
	background-color: #ffffff; 
	color: #111111; 
	line-height: 1.4;
	}
header {
	background-color: #ffffff;
	color: #333333;
	padding: 0px;
	text-align: center;
	}

header h1 {
	letter-spacing:-0.5px;
	margin: 0 auto;
	font-size: 26px;
	padding:15px 30px;
	line-height:1.2em; 
	font-weight:800;
	max-width:720px;
	}
header p {
            letter-spacing:-0.5px;
            font-size: 17px;
            margin: 0px auto;
            padding:0 30px;
            max-width:720px;
        }
.hero-image {
            max-width: 100%;
            height: auto;
            object-fit: cover;
            margin: 0px auto 5px;
        }
.container {
            max-width: 720px;
            margin: 0 auto;
            padding: 0px;
        }
.section {
            margin-top: 15px;
            padding: 0px;
        }
.section h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 30px 0px 20px;
        }
.section p {
            letter-spacing:-0.5px;
            font-size: 17px;
            line-height: 1.3em; 
            margin:0px;
        }
        .sectionn {
            margin: 10px 0px 0px;
            padding:30px;
            background:#333333;
        }
.section1 {
            margin: 15px 0px 0px;
            padding:30px 20px;
	background-color:#d1d5db;
        }
.section1 h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 0 0 30px 0;
        }
.card h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 21px;
            text-align:-webkit-center;
            font-weight:800;
		margin-top:0px;
		padding: 10px 0 30px 0;
        }
        .sectionn h2 {
            letter-spacing:-0.5px;
            color: #ffffff;
            font-size: 26px;
            text-align:-webkit-center;
        }
        .sectionn p {
            letter-spacing:-0.5px;
            font-size: 17px;
            line-height: 1.4; 
            margin:3px 0px;
            color:#ffffff;
        }
.cta p {
            color: white;
            font-weight: bold;
            padding:15px;
            margin:0px;
        }
.cta a {
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
        .register-form {
            background-color: #e0e7ff;
            padding: 20px;
            border-radius: 80px;
        }
        .register-form input, .register-form button {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 80px;
            border: 1px solid #ccc;
        }
        .register-form input {
            width: 90%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 80px;
            border: 1px solid #ccc;
        }
        .register-form button {
            background-color: #006600;
            color: white;
            border: none;
            cursor: pointer;
            font-size: 1em;
            width: 100%;
        }
        .register-form button:hover {
            background-color: #008080;
        }
        footer {
            background-color: #008080;
            color: white;
            text-align: center;
            margin: 0px auto;
            max-width:720px;
        }
        footer p{
            letter-spacing:-0.5px;
            font-size:14px;
            line-height:1.2;
            padding:10px;
            margin-bottom:0px; font-weight:400;
        }        
        .cta-section {
            background-color: #ffffff;
            text-align: center;
            padding: 0px 20px 20px;
            margin: 30px 0;
        }
        .cta-section h2 {
                    letter-spacing:-0.5px;
            font-size: 26px;
            color: #111111;
            margin-bottom: 10px;
        }
        .cta-section p {
            letter-spacing:-0.5px;
            font-size: 17px;
            color: #111111;
            margin-bottom: 20px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .cta-button {
            background-color: #008080;
            color: white;
            border: none;
            padding: 15px 20px;
            font-size: 17px;
            border-radius: 80px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .cta-button:hover {
            background-color: #006161;
        }
        .whatsapp-button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button-table {
            margin: 0 auto; /* Pusatkan tabel */
        }
        .button-table td {
            padding: 10px; /* Beri jarak antar tombol */
        }
        .cta-button-container {
            text-align: center;
		padding-bottom:30px;
		margin-bottom:10px;
        }
.cta-button-container p {
	font-size:11px;
	padding-top:15px;
	margin-top:0px;
            text-align: center;
        }
.cta {
            background-color: #008080;
            color: white;
            font-weight:500;
            padding: 15px 60px;
            text-decoration: none;
            font-size: 17px;
            border-radius: 80px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: background-color 0.3s ease;
        }  
        .whatsapp-button {
            background-color: #009900; /* Warna hijau khas WhatsApp */
            color: white;
            padding: 15px 30px;
            text-decoration: none;
            font-size: 17px;
            border-radius: 80px;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            transition: background-color 0.3s ease;
        }
        .whatsapp-button:hover {
            background-color: #003300; /* Warna hijau yang lebih gelap saat hover */
        }
        .whatsapp-button i {
            font-size: 19px;
        }

         /* Styling for the testimonials section */
        .testimonials-section {
            padding: 30px 0 30px 30px;
            margin:10px 0;
            background-color: #ffffff;
            text-align: center;
        }
        .testimonials-section h2 {
            color:#111111;
            margin-top:0px;
        }
        .carousel-container {
            width: 100%;
            overflow: hidden; /* Hide overflow content */
            margin: 0 auto;
            position: relative;
        }

        .carousel {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .carousel1 {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }
        .carousel-card1 {
            flex: 0 0 85%; /* 85% width for the visible card */
            margin-right: 20px; /* Space for the next card to peek */
            box-sizing: border-box;
            padding: 2rem;
            background: #fff;
            border-radius: 20px;
            border:1px solid #ddd;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }
        .carousel-card p {
            font-size: 17px;
            margin-bottom: 1rem;
        }
        .carousel-card h4 {
            font-size: 1rem;
            color: #111;
        }

        /* CSS for Share Section */
    .share-webinar {
        text-align: center;
        margin: 30px 0px 0px;
            padding: 30px 15px;
        background-color: #ffffff;
    }

.share-webinar h2 {
	font-size: 26px;
        letter-spacing:-0.5px;
        font-weight:800;
	color: #111111;
        margin-top:0px;
	padding-top:0px
    }

.share-webinar p {
	font-color:#111111;
	font-weight:400;
}

.share-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 0px;
}

.share-button {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        border-radius: 80px;
        font-weight: bold;
}

    .whatsapp { background-color: #009900; }
    .facebook { background-color: #3b5998; }
    .twitter { background-color: #1DA1F2; }

    .card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
        }
    .card-container1 {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
        }
    .card {
            background-color:#ffffff;
            border: 0px solid #ddd;
            border-radius: 20px;
            /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
            padding: 30px;
            text-align: center;
            flex: 1 1 100%;
            max-width: 100%;
        }
    .card h3 {
            margin-top: 0;
        font-size:21px;line-height:1.3em;
        }
table, th, td {
  border:1px solid black;
}

.column {
  float: left;
  width: 45%;
  padding: 10px;
}

.column1 {
  float: left;
  width: 95%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

    /* Mobile styles - cards will stack */
        @media (max-width: 600px) {
	.section2 {display:none;
            margin: 15px 0px 0px;
            padding:30px 20px;
	background-color:#ffffff;
        }
.section2 h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 0 0 30px 0;
        }
	.section3 {
            margin: 15px 0px 0px;
            padding:30px 20px;
	background-color:#ffffff;
        }
.section3 h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 0 0 30px 0;
        }	
	.column {
    		width: 100%;}
        .section{
                padding:0px;
        }
.section1 {
        padding:30px 20px;
		background:#d1d5db;
        }
	.section h2 {
            	letter-spacing:-0.5px;
            	color: #111111;
            	font-size: 26px;
            	text-align:-webkit-center;
           	font-weight:800;
		margin: 0px;
        }
            .card {
                flex: 1 1 100%;
		padding: 20px 15px;
            }
            .hero-image2 {
                max-width: 100%;
                height: 50vw;
                object-fit: cover;
                margin: 0px auto 15px;
            }
            .webinar-poster {
                max-width: 100%;
                height: auto;
                margin: 0px 0;
                border-radius: 15px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
	.card-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
	.card-container1 {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            justify-content: center;
        }
            .carousel-card {
            flex: 0 0 90%; /* 90% width for the visible card */
            margin-right: 20px; /* Space for the next card to peek */
            box-sizing: border-box;
            padding:0px;
            border:none;
            background: #fff;
        }
        }

        /* Tablet and desktop styles - cards will be side by side */
        @media (min-width: 600px) {
	.section2 {
            margin: 15px 0px 0px;
            padding:30px 20px;
	background-color:#ffffff;
        }
.section2 h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 0 0 30px 0;
        }
	.section3 {display:none;
            margin: 15px 0px 0px;
            padding:30px 20px;
	background-color:#ffffff;
        }
.section3 h2 {
            letter-spacing:-0.5px;
            color: #111111;
            font-size: 26px;
            text-align:-webkit-center;
            font-weight:800;
		margin: 0px;
    		padding: 0 0 30px 0;
        }		  
            .card {
                flex: 1 1 30%;
            }
            .hero-image2 {
                max-width: 720px;
                height: 25vw;
                object-fit: cover;
                margin: 0px auto 5px;
                object-position:top;
            }
            .webinar-poster {
                max-width: 80%;
                height: auto;
                margin: 20px 0;
                border-radius: 15px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .carousel-card {
            flex: 0 0 50%; /* 90% width for the visible card */
            margin-right: 20px; /* Space for the next card to peek */
            box-sizing: border-box;
            padding:0px;
            border:none;
            background: #fff;
        }
        }
